#main {
  height: 100%;
}

#image {
  width: 50%;
}
.example-form {
  margin-top: 2rem;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-icon {
  font-size: 2.9rem;
  color: #3f51b5;
  margin-bottom: 3rem;
}
