.main {
  height: 100%;
}
.form-panel {
  border-radius: 15px 15px 15px 15px;
  border: 7px double #3f51b5;
  padding: 1rem 1rem 1rem 1rem;
}

.image {
  width: 50%;
}
.mat-icon {
  font-size: 2.9rem;
  color: #3f51b5;
  margin-bottom: 3rem;
}
