<mat-sidenav-container>
  <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item class="mat-elevation-z2">
        <mat-icon aria-hidden="false">group</mat-icon>

        Turmas
      </a>
      <a mat-list-item class="mat-elevation-z2">
        <mat-icon aria-hidden="false">face</mat-icon>

        Alunos
      </a>
      <a mat-list-item class="mat-elevation-z2">
        <mat-icon aria-hidden="false">school</mat-icon>

        Professores
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
