<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <mat-icon class="logo" aria-hidden="false" routerLink="/dashboard/classes"
      >school</mat-icon
    >
    <span>Trakto School</span>
    <span class="example-spacer"></span>
    <span class="mat-button-wrapper" [matMenuTriggerFor]="menu">
      {{teacher}}
      <mat-icon role="img" class="mat-icon-drop" aria-hidden="true"
        >arrow_drop_down</mat-icon
      ></span
    >
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
